<!-- Footer -->
<footer class="footer">
    <div class="copyright text-center">
        <small>© 2018 Sweet Tooth | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by Yasmeen Joumaa & Majd Tahan.</small>
    </div>
</footer>
